body { 
    font-family: 'Raleway', 'Courier New', Courier, monospace;
}

#logo {
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
}

#url-input {
    width: 25%;
}

#screenshot-viewer {
    height: 200px;
    transition-duration: 2s;
    margin-left: 30px;
    margin-right: 30px;
}

.tip {
    color: #555555;
    width: 30%;
    font-size: 110%;
}

.tooltip {
    visibility: hidden;
    background-color: white;
    left: 55%;
    width: 30%;
    font-size: 110%;
    opacity: 1.0;
    padding: 10px;
    border: 2px solid rgb(255, 115, 0);
    border-radius: 5px;
    box-shadow: 5px 5px rgb(255, 115, 0);
}

.tip:hover .tooltip {
    visibility: visible;
}

.info {
    font-family: 'Source Code Pro';
}

.row {
    background-color: #ebebeb
}

.column {
    padding: 25px;
    float: left;
    width: 45%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {

}

a,
a span {
display: inline-block;
}
a span {
transition: .5s;
}
a:hover span {
-webkit-transform: rotateX(360deg);
transform: rotateX(360deg);
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#scan-hint {
    width: auto;
}

#container-override {
    background-color: #ebebeb;
}

#form-override {
    -moz-transform: scale(0.8);
}

.fa-search {
    margin-right: 10px;
}

#btn-override {
    background-color: red;
    border-color: red;
    margin-left: 10px;
}

#btn-override:focus {
    border: 1px solid red;
    box-shadow: 5px 5px 2px rgb(177, 175, 175);
}