body { 
    font-family: 'Raleway', 'Courier New', Courier, monospace;
}


#logo {
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
}

#url-input {
    width: 25%;
}

#loading-gif {
    height: 200px;
    transition-duration: 2s;
    margin-left: 30px;
    margin-right: 30px;
}

.main-container {
    padding-bottom: 100px;
}

/*.tip {
    color: #555555;
    width: 30%;
    font-size: 110%;
}*/

.tooltip {
    visibility: hidden;
    background-color: white;
    left: 55%;
    width: 30%;
    font-size: 110%;
    opacity: 1.0;
    padding: 10px;
    border: 2px solid rgb(255, 115, 0);
    border-radius: 5px;
    box-shadow: 5px 5px rgb(255, 115, 0);
}

.tip:hover .tooltip {
    visibility: visible;
}

.info {
    font-family: 'Source Code Pro';
}

.row {
    background-color: #ebebeb
}

.col-footer {
    padding: 25px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    width: 100%;
}

a,
a span {
display: inline-block;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#scan-hint {
    width: auto;
}

#container-override {
    background-color: #ebebeb;
}

#form-override {
    -moz-transform: scale(0.8);
}

.form-option {
    margin-top: 10px;
}

.form-control-nofocus:focus {
    border-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(204, 204, 204, 0.6);
    outline: 0 none;
}

.fa-search {
    margin-right: 10px;
}

.row-clear {
    background-color: #ffffff;
}

#sect-options {
    padding: 10px;
    margin: 20px;
}

.btn-options {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-options:hover {
    background-color: #daa300;
}

.btn-primary {
    margin-left: 10px;
}

.border-warning {
    border-color: #FF813F;
}

#btn-override {
    background-color: red;
    border-color: red;
    margin-left: 10px;
}

#btn-override:focus {
    border: 1px solid red;
    box-shadow: 5px 5px 2px rgb(177, 175, 175);
}